    header{
      position: sticky;
      top:0;
      z-index: 1;
      background-color:ghostwhite;
    }
    h1{
      color:purple;
      font-size:40px;
   
    }
    h2{
      color:blue;
      font-size:20px;
    }
    p{
      color:darkslateblue
    }
    a{
      text-decoration:none ;
      color:brown;

    }

    body{
      background-color:antiquewhite;
    }

    .align{
      text-align:center;
    }

    strong{
      color:darkmagenta;
    }

    i{
      color:crimson;
    }

    ul{
      color:darkred;
    }

    .h2{
      color:blue;

    }

    i{
      color:red;
    }

    bold{
      color:black; font-size:15px;
    }

    h3{
      background-color:bisque ;
      color:darkorchid;
      font-size:30px;
      padding:20px ;
  
    }

    h4{
      color:rgb(63, 11, 11);
      font-size:20px;
    }

    li{
    color:firebrick;
    font-size:18px;

    }

    figcaption{
      color:maroon;
      font-size:15px;
    }

    span{
      font-size:25px;
    }

    h5{
      color:darkred;
      font-size:30px;
      border:5px crimson double;
      width:450px;
      border-radius: 10px;


         }

    h6{
      color:darkblue;
      font-size:25px;
      text-decoration:underline;
    }

    thead{
      color:darkred;
      font-size:20px;
      background-color:bisque;
    }

    tbody{
      color:rgb(63, 11, 11);
      background-color:bisque ;
    }

    bold{
      color:midnightblue;
      font-size:18px;
    }

  lebel{
    color:indigo;
    font-size:20px;
  }
  input:focus{
    background-color:navajowhite;
  }
textarea:focus{
    background-color:navajowhite ;
}
p::first-letter{
    color:darkorchid;
    font-size:25px;
}


h2:hover{
    background-color: lightpink;
}

strong:hover{
    background-color:lightblue ;
}

::selection{
    color:darkorchid;
    background-color: black;
}

button{
  color:darkblue;
  font-size:15px;
  background-color: lightcoral;
}

ol{
  list-style: none;
}


  


    